{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container-fluid" style="margin-top:100px;padding:15px 15px 500px;font-size:25px">
  <center><p><b>Sign Up Form</b></p></center>
  <div class="container" style="padding-right: 100px;padding-left: 100px">
    <form method="POST"> {% csrf_token %}
		{{ form|crispy }}
		<input type="submit" name="btn" value="save">
	</form>
	<br>
	{% if found_email %}
		<p>email is registered already</p>
	{% endif %}
	{% if found_mobile %}
		<p>mobile is registered already</p>
	{% endif %}
  </div>
</div>





{% endblock %} 